body
 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;

}
h3{
  color: rgb(17, 2, 45);
  font-size: 20px;
}
p{
  font-size: 15px;
}
h1 {
    font-size: 30px;
}
.name-style {
    color: orangered
}
.haif-waith {
  width: 40%;
  float: left;
  margin-left: 5%;
  padding-left: 2px;
}
.haif-waith img {
  width: 100%;
}